/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2017, 10:45:02 م
    Author     : ali
*/

*{
    direction: rtl;
}
footer *{
    direction: ltr;
}
.blueimp-gallery *{
    direction: ltr;
} 

