/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2017, 10:29:00 ص
    Author     : ali
*/
html{
	position: relative;	
	min-height: 100%;
        overflow-x: hidden; /* Prevent scroll on narrow devices */		
}
body{
    margin-top: 80px;	
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}
/* map container section */
.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.map_container .map_canvas{
    background: #ccc;
}
/* end map container section */
.user-avatar{
    width: 100px;
}
.img-wrapper{
    position:relative;
}
.img-wrapper>.avatar-check{
    position: absolute;
    bottom: 5px;
    left: 5px;
}


