/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/08/2017, 10:29:07 ص
    Author     : ali
*/
nav{
	padding: 4px 10px
}
.navbar{
    min-height: 60px;
    //box-shadow: 0px 0px 6px grey;
}
.navbar-default{
	background-color:#F2F1EF;
}
.navbar-default .navbar-toggle{
	background-color:#D9BA24; 
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color:#ba843d;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #786b25;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: #f6c700;
}
.navbar-default .navbar-nav>li>a{
	color: 	#7D6C00;
	font-weight: 700
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #f6c700;
}
.navbar-brand{
	padding: 0px;
}

